<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    <title>GoldSTaR</title>
    <link rel="stylesheet" type="text/css" href="/static/style/master.css" />
    </head>
    <body>
    <div id="wrap">
    <!-- wd_include file="/static/include/navbar.inc"--><ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/software">Software Suggestion</a></li>
    <li><a href="/psirt">PSIRT & FN</a></li>
    </ul><!-- /wd_include file="/static/include/navbar.inc"-->
    <div id="main-body">
    <div id="header">
      <img src="/static/images/header-img.jpg" alt="header" /> </div>
    <div id="content">
      <h2>GoldSTaR</h2>
      <p><b>Collect Inventory Data from APIC-EM</b></p>
      APIC-EM Username
      <input type="text" name="apicem_username" maxlength="50" size="25">
      <p>
      APIC-EM Password
      <input type="password" name="apicem_password" maxlength="50" size="25"></p>
      <p></p>
      <input type="submit" name="pi_submit">
      <p><b>Collect Inventory Data from Prime Infrastructure</b></p>
      Prime Infrastructure Username
      <input type="text" name="pi_username" maxlength="50" size="25">
      <p>
      Prime Infrastructure Password
      <input type="password" name="pi_password" maxlength="50" size="25"></p>
      <input type="submit" name="pi_submit">
      
    </div>
    </div>
    <div class="clearfix">
    </div>
  
    </div>
    </body>
    </html>