<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    <title>GoldSTaR</title>
    <link rel="stylesheet" type="text/css" href="/static/style/master.css" />
    </head>
    <body>
    <div id="wrap">
    <!-- wd_include file="/static/include/navbar.inc"--><ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/software">Software Suggestion</a></li>
    <li><a href="/psirt">PSIRT & FN</a></li>
    </ul><!-- /wd_include file="/static/include/navbar.inc"-->
    <div id="main-body">
    <div id="header">
      <img src="/static/images/header-img.jpg" alt="header" /> </div>
    <div id="content">
      <h2>GoldSTaR</h2>
      <p><b><u>Your Current Invetory</u></b></p>
    <table>
        <tr>
            <td>Model</td>
            <td>Software Version</td>
    {% for item in inventory %}
              <tr>
                  <td>{{ item[0] }}</td>
                  <td>{{ item[1] }}</td>
              </tr>
    {% endfor %}
    </table>

  </div>
  </div>
  </div>
  </body>
  </html>
